.add-content-form {
    display: flex;
    flex-direction: column;
}

.add-button-form > input {
    height: 25px;
    text-align: center;
}

.add-content-form > input {
    margin-bottom: 5px;
}

.add-button-form button {
    width: 22%;
}

.submit-button {
    float:right;
}

.images_wrapper {
    height: 50px;
}

.images_wrapper img {
    height: 50px;
}

.subSection_heading {
    text-align: center;
    margin: 10px 0
}

.galleryWrapper {
    height: 200px;
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.galleryImage img {
    height: 170px;
    object-fit: cover;
}

.galleryImage {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}