.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  margin: 0 10px;
}

.wrapper a {
  border-radius: 15px;
}

.button {
  padding: 0 10px;
  margin: 0 10px;
}