.wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin-top: 1vh;
  width: 70%;
  margin: auto;
  text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

@media (max-width: 868px) {
  .wrapper {
    width: 90%;
  }
}