.wrapper {
  background-color: #f9faef;
  font-family: 'Teko';
  width: 100%;
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.wrapper p {
  width: 90%;
  margin: auto;
}

.wrapper > p {
  font-size: 1.7rem;
}

.heading {
  width: 60%;
  margin: auto;
  font-size: 2rem;
}

