 @import url('http://fonts.cdnfonts.com/css/nasalization?styles=6717');
 .navLink_link
   font-family: 'Nasalization Rg', sans-serif;
   font-size: 1.4rem
   text-decoration: none
   padding: 0 10px
   position: relative
   text-decoration: none
   @media screen and (max-width: 90em)
     font-size: 1.2rem
   @media screen and (max-width: 75em)
     font-size: 1rem
   a
     color: black
   &:hover 
     cursor: pointer
   &:hover .dropdown_menu li
     display: block 
   a:hover
     color: rgba(0,0,0,0.5)

 .dropdown_menu
   position: absolute
   top: 100%
   left: -10%
   width: 100%
   perspective: 1000px
   li
    width: 110%
    display: none
    color: black
    background-color: #e2e4d0;
    padding: 10px 20px
    font-size: 15px
    &:hover
      color: rgba(0,0,0,0.5) 
    a
      display: flex
      justify-content: center
      flex-direction: column
      margin-bottom: 5px

.navLink_link:hover .dropdown_animated
    display: block
    animation: growDown 350ms ease-in-out forwards
    transform-origin: top center

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}