.overlay {
    height: 100%;
}

.overlay > h1 {
    text-align: center;
}
.add-content-form {
    display: flex;
    flex-direction: column;
    padding: 1%
}

.add-button-form {
    display: flex;
    justify-content: space-around;
}

.add-button-form > input {
    height: 25px;
    text-align: center;
}

.add-button-form button {
    width: 22%;
}

.submit-button {
    float:right;
}

.images_wrapper {
    height: 50px;
}

.images_wrapper img {
    height: 50px;
}