@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.wrapper {
    width: 90%;
    margin: auto;
}

.wrapper h1 {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 1px;
}

.list_alignCenter {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5vh;
}

@media (max-width: 868px) {
    .list_alignCenter {
        font-size: 1.1rem;
    }
}

.list_alignLeft {
    margin-top: 3vh;
}

.list_alignLeft h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    color: green;
    margin-bottom: 5px;
}
.list_alignLeft h3:after{
    content: "";
    flex: 1 1;
    border-bottom: black 1px solid;
    margin: auto;
    margin-left: 10px
}

.li_content {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin: 10px 0;
    align-items: center;
}

.li_content i {
    margin-right: 10px;
    font-size: 0.6rem;
    color: green;
}

.alignCenter_line {
    line-height: 1.5;
}