.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    margin: 10px 0;
}

.inputs {
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items: center;
}

.inputs > p {
    font-weight: bold;
    font-size: 1.4rem;
}

.inputs > input {
    text-align: center;
}

.inputs > button {
    width: 30%;
    height: 30px;
}

.bar_container {
    width: 50%;
    height: 80%;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #e76f51;
}

.bar {
    position: absolute;
    height: 100%;
    content: "";
    background-color: green;
    top:0;
    bottom: 0;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: sans-serif;
}

@media (max-width: 868px) {
    .wrapper {
        height:  80px;
        flex-direction: column;
    }
}