.wrapper {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 50%;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    margin-bottom: 10px;
}

.wrapper > p {
    grid-column: 1 / 2;
    font-weight: bold;
    font-size: 1.2rem;
}

.wrapper > input {
    grid-column: 2 / 3;
}

.wrapper > button {
    grid-column: 3 / 4;
    width: 50%;
    justify-self: center;
}

.bar_container {
    grid-column: 4 / 5;
    height: 80%;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    will-change: transform;
    box-shadow: 0 0 5px #e76f51;
}

.bar {
    position: absolute;
    height: 100%;
    content: "";
    background-color: green;
    top:0;
    bottom: 0;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items:center;
    color: white;
    font-family: sans-serif;
}