.wrapper {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: #f9faef;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.logo {
    display: flex;
}

.logo img {
    height: 80%;
    margin: auto 0 auto 20px;
}

.navBar_mobile {
    display: flex;
    margin: auto 20px auto 0;
}

.navBar_wide {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

@media (min-width: 868px) {
    .navBar_mobile {
        display: none;
    }
}

@media (max-width: 868px) {
    .navBar_wide {
        display: none;
    }
}
