@import url('http://fonts.cdnfonts.com/css/nasalization?styles=6717');

.wrapper {
    height: 17vh;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.logo {
   width:20%;
}

.logo img {
    height: 13vh;
    margin-left: 2vw;
}

.navlink {
    color: black;
    text-decoration: none;
    letter-spacing: 2px;
    margin-right: 2vw;
    font-family: 'Nasalization Rg', sans-serif;
}

.navlinks {
    width:70%;
    display: flex;
    justify-content: right;
    font-size: 2rem;
}
