.wrapper {
    display: flex;
}

.thumbnail {
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
}

.thumbnail img {
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.thumbnail:hover img {
    transform: scale(1.2);
}
