.spinner {
  display: inline-block;
  width: 210px;
  height: 210px;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 203px;
  height: 203px;
  margin: 8px;
  border-radius: 50%;
  border: 7px solid black;
  border-color: teal transparent teal transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
