 .edit_btn {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .add_btn {
    margin: 20px 0;
    text-align: center;
  }

  .btn {
    background-color: green;
    color: white;
    height: 90%;
    width: 150px;
    border-radius: 10px;
    border: solid 1px white;
    cursor: pointer;
    height: 40px;
    margin: auto;
  }

