.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.30);
}

.modal {
    position: fixed;
    padding: 1%;
    height: 80%;
    width: 80vw;
    z-index: 100;
    top: 50%;
    left: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-50%) translateY(-55%);
    overflow: auto;
    font-family: 'Teko';
    font-size: 1.4rem;
    text-align: left;
    border-radius: 15px;
}

.backdrop > button {
    position: fixed;
    height: 50px;
    top: 91%;
    width: 300px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.3rem;
}

@media (max-width: 868px) {
    .modal {
        width: 95vw;
        height: 89%;
    }
    .backdrop > button {
        top: 95%;
    }
}