.banner {
  height: 80vh;
  aspect-ratio: 2 / 1;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 868px) {
  .banner {
    height: 40vh;
  }
}

