.backdrop {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.30);
}

.modal {
    position: fixed;
    padding: 1%;
    height: 80vh;
    width: 80vw;
    z-index: 100;
    top: 50%;
    left: 50%;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-50%) translateY(-50%);
    overflow: auto;
    font-family: 'Amatic SC', cursive;
    font-size: 1.5rem;
}
.children {
    height: 90%;
    width: 100%;
}

.buttons button {
    margin: 0 auto;
    width: 45%;
    height: 30px;
}



.buttons {
    display: flex;
    justify-content: space-around;
}

.confirmation {
    position: fixed;
    padding: 1%;
    height: 80vh;
    width: 80vw;
    z-index: 1000;
    top: 50%;
    left: 50%;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    transform: translateX(-50%) translateY(-50%);
}